<!-- header.html -->
<button id="nav-toggle" class="nav-toggle" aria-label="Открыть меню" aria-expanded="false">☰</button>
<div class="logo">
    <img src="images/header/logo.svg" alt="PSA Union Logo">
    <span class="logo-name">PSA Union</span>
</div>
<nav>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="types.html">Виды</a></li>
        <li><a href="articles.html">Статьи</a></li>
        <li><a href="about.html">О нас</a></li>
        <li><a href="merch.html">Мерч</a></li>
    </ul>
</nav>